Repository benTurgeman/householdXpress: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ruff-lint, backend-ruff-format, frontend-eslint, frontend-type-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: backend-ruff-lint
        name: ruff lint (backend)
        language: system
        entry: bash -c 'cd backend && poetry run ruff check --fix .'
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: backend-ruff-format
        name: ruff format (backend)
        language: system
        entry: bash -c 'cd backend && poetry run ruff format .'
        pass_filenames: false
        files: ^backend/.*\.py$

      - id: frontend-eslint
        name: eslint (frontend)
        language: system
        entry: bash -c 'cd frontend && pnpm lint'
        pass_filenames: false
        files: ^frontend/src/.*\.[jt]sx?$

      - id: frontend-type-check
        name: tsc (frontend)
        language: system
        entry: bash -c 'cd frontend && pnpm type-check'
        pass_filenames: false
        files: ^frontend/.*\.tsx?$

chore: include Expo scaffold utilities and updated README
  frontend/README.md
  frontend/components/external-link.tsx
  frontend/components/haptic-tab.tsx
  frontend/components/hello-wave.tsx
  frontend/components/parallax-scroll-view.tsx
  frontend/components/themed-text.tsx
  frontend/components/themed-view.tsx
  frontend/components/ui/collapsible.tsx
  frontend/components/ui/icon-symbol.ios.tsx
  frontend/components/ui/icon-symbol.tsx
  frontend/constants/theme.ts
  frontend/hooks/use-color-scheme.ts
  frontend/hooks/use-color-scheme.web.ts
  frontend/hooks/use-theme-color.ts
Due: frontend-type-check

fix: resolve CI failures from ruff import order and pnpm→npm migration
  .github/workflows/ci.yml
  backend/app/database.py
Due: backend-ruff-lint, backend-ruff-format

fix: resolve mypy errors in config and database modules
  backend/app/config.py
  backend/app/database.py
Due: backend-ruff-lint, backend-ruff-format

chore: add mypy pre-commit hook for backend
  .pre-commit-config.yaml
Due: none

fix: provide DATABASE_URL env var for pytest in CI
  .github/workflows/ci.yml
Due: none

feat: add FastAPI app entry point and smoke test
  backend/app/main.py
  backend/tests/test_health.py
Due: backend-ruff-lint, backend-ruff-format

chore: separate fast commit hooks from slow pre-push hooks
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

feat: implement notes domain, Alembic setup, and Dockerfile
  .claude/plan/backend.md
  .claude/plan/devops.md
  backend/Dockerfile
  backend/alembic.ini
  backend/alembic/README
  backend/alembic/env.py
  backend/alembic/script.py.mako
  backend/alembic/versions/0001_create_notes.py
  backend/app/main.py
  backend/app/notes/model.py
  backend/app/notes/router.py
  backend/app/notes/schemas.py
  backend/app/shared/errors.py
  backend/tests/notes/__init__.py
  backend/tests/notes/test_notes.py
Due: backend-ruff-lint, backend-ruff-format

feat(frontend): complete frontend notes implementation
  .claude/plan/frontend.md
  frontend/app/_layout.tsx
  frontend/app/index.tsx
  frontend/components/ui/gluestack-ui-provider/index.tsx
  frontend/metro.config.js
  frontend/src/context/AuthorContext.tsx
Due: frontend-eslint, frontend-type-check

fix: resolve mypy strict errors in notes model and router
  backend/app/notes/model.py
  backend/app/notes/router.py
Due: backend-ruff-lint, backend-ruff-format
